// 設定 - _variable.scss

$txt: #333333;
$txt2: #c8bb9b;


$f: #ffffff;
$mc: #333333;
$bg: #f2f2f2;


// background: rgb(50,200,255);
// background: linear-gradient(45deg, rgba(50,200,255,1) 0%, rgba(0,90,170,1) 100%);
